{% from "base/macros.html" import setstatus,formatdate,setstatus_payment with context %}
<div class="card shadow mb-4">
	<div class="card-header py-3">
	  <h6 class="m-0 font-weight-bold text-primary font-thai-regular">สรุปยอดรวมวันที่ {{ formatdate(date_summery[0],year="True") }} - {{ formatdate(date_summery[1],year="True") }}</h6>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1 font-thai-bold">รายได้ทั้งหมด</div>
							<div class="h3 mb-0 font-weight-bold text-gray-800">THB {{ total_all }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<!-- Area Chart -->
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
		 	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary font-thai-regular">กราฟแสดงรายได้ระหว่างวันที่ {{ formatdate(date_summery[0],year="True") }} - {{ formatdate(date_summery[1],year="True") }}</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="chart-area">
					<canvas id="summerydate"></canvas>
				</div>
			</div>
		</div>
		<hr>
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
		 	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary font-thai-regular">ตารางรายได้แต่วะวัน {{ formatdate(date_summery[0],year="True") }} - {{ formatdate(date_summery[1],year="True") }}</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr class="font-thai-regular">
								<th>#</th>
								<th>วันที่</th>
								<th>รายได้ทั้งหมด</th>
							</tr>
						</thead>
						<tbody class="font-thai-light">
							{% for date_summery in datetime_all %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ formatdate(date_summery.date,year="True") }}</td>
									<td>THB {{ date_summery.total }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr class="font-thai-regular">
								<th>#</th>
								<th>วันที่</th>
								<th>รายได้ทั้งหมด</th>
							</tr>
						</tfoot>
					</table>
				  </div>
			</div>
		</div>
	</div>
  </div>
  <script>
	$('#dataTable').DataTable();

	Chart.defaults.global.defaultFontFamily = 'Prompt', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#858796';

	function number_format(number, decimals, dec_point, thousands_sep) {
		// *     example: number_format(1234.56, 2, ',', ' ');
		// *     return: '1 234,56'
		number = (number + '').replace(',', '').replace(' ', '');
		var n = !isFinite(+number) ? 0 : +number,
			prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
			sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
			dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
			s = '',
			toFixedFix = function(n, prec) {
			var k = Math.pow(10, prec);
			return '' + Math.round(n * k) / k;
			};
		// Fix for IE parseFloat(0.55).toFixed(0) = 0;
		s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
		if (s[0].length > 3) {
			s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
		}
		if ((s[1] || '').length < prec) {
			s[1] = s[1] || '';
			s[1] += new Array(prec - s[1].length + 1).join('0');
		}
		return s.join(dec);
	}

	  var ctx = document.getElementById("summerydate");
	  var chart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: [{% for item in chartjs_lable %}
			"{{ item }}",
			{% endfor %}],
			datasets: [{
			label: "รายได้ทั้งหมด",
			lineTension: 0.3,
			backgroundColor: "rgba(78, 115, 223, 0.05)",
			borderColor: "rgba(78, 115, 223, 1)",
			pointRadius: 3,
			pointBackgroundColor: "rgba(78, 115, 223, 1)",
			pointBorderColor: "rgba(78, 115, 223, 1)",
			pointHoverRadius: 3,
			pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
			pointHoverBorderColor: "rgba(78, 115, 223, 1)",
			pointHitRadius: 10,
			pointBorderWidth: 2,
			data: [{% for date in chartjs_data %}
			{{ date }},
			{% endfor %}],
			}],
		},
		options: {
			maintainAspectRatio: false,
			layout: {
			padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			}
			},
			scales: {
			xAxes: [{
				time: {
				unit: 'date'
				},
				gridLines: {
				display: false,
				drawBorder: false
				},
				ticks: {
				maxTicksLimit: 7
				}
			}],
			yAxes: [{
				ticks: {
				maxTicksLimit: 5,
				padding: 10,
				// Include a dollar sign in the ticks
				callback: function(value, index, values) {
					return 'THB ' + number_format(value);
				}
				},
				gridLines: {
				color: "rgb(234, 236, 244)",
				zeroLineColor: "rgb(234, 236, 244)",
				drawBorder: false,
				borderDash: [2],
				zeroLineBorderDash: [2]
				}
			}],
			},
			legend: {
			display: false
			},
			tooltips: {
			backgroundColor: "rgb(255,255,255)",
			bodyFontColor: "#858796",
			titleMarginBottom: 10,
			titleFontColor: '#6e707e',
			titleFontSize: 14,
			borderColor: '#dddfeb',
			borderWidth: 1,
			xPadding: 15,
			yPadding: 15,
			displayColors: false,
			intersect: false,
			mode: 'index',
			caretPadding: 10,
			callbacks: {
				label: function(tooltipItem, chart) {
				var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
				return datasetLabel + ': THB ' + number_format(tooltipItem.yLabel);
				}
			}
			}
		}
		});
  </script>