{% from "base/macros.html" import setstatus,formatdate,setstatus_payment with context %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{ title }} | {{ page }}</title>

	<!-- Custom fonts for this template-->
	<link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="{{ url_for('static',filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

	{% block css %}
	{% endblock %}

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/">
				<div class="sidebar-brand-text mx-3">{{ title }}</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/dashboard">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>แดชบอร์ด</span></a>
			</li>

			<div class="sidebar-heading font-thai-bold">
				การจองห้องพัก
			</div>

			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/listroom">
					<i class="fas fa-fw fa-sticky-note"></i>
					<span>ลิสห้องพัก</span></a>
			</li>
			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/listgroup">
					<i class="fas fa-fw fa-sticky-note"></i>
					<span>ลิสกลุ่ม</span></a>
			</li>
			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/listbook">
					<i class="fas fa-fw fa-sticky-note"></i>
					<span>ลิสการจองห้องพัก</span></a>
			</li>
			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/checkpayment">
					<i class="fas fa-fw fa-check-circle"></i>
					<span>ตรวจสอบการชำระเงิน</span></a>
			</li>

			<div class="sidebar-heading font-thai-bold">
				สรุปรายได้
			</div>

			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/summerytotal">
					<i class="fas fa-fw fa-list-alt"></i>
					<span>สรุปยอดทั้งหมด</span></a>
			</li>

			<div class="sidebar-heading font-thai-bold">
				ผู้ใช้งาน
			</div>

			<li class="nav-item font-thai-regular">
				<a class="nav-link" href="/manageusers">
					<i class="fas fa-fw fa-users"></i>
					<span>จัดการบัญชีผู้ใช้งาน</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-search fa-fw"></i>
							</a>
							<!-- Dropdown - Messages -->
							<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</li>

						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ profile.details.name }}</span>
								<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
							</a>
							<!-- Dropdown - User Information -->
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
								<a class="dropdown-item font-thai-regular" href="/logout">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									ออกจากระบบ
								</a>
							</div>
						</li>

					</ul>

				</nav>
				<!-- End of Topbar -->

            {% block contents %}
            {% endblock %}

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; {{ title }} 2020 </span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript-->
	<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="https://momentjs.com/downloads/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>
	<script src="{{ url_for('static',filename='/vendor/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js')}}"></script>

	<!-- Custom scripts for all pages-->
	<script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

	<!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>
    {% block js %}
    {% endblock %}

</body>
</html>
