{% extends "base/base.html" %}
{% block contents %}
<div class="overlay">
	{% include "base/navbars.html" %}
	<div class="container">
		<div class="row align-items-center justify-content-center" style="height: 70vh;">
			<div class="col-md-12 mb-4 text-white text-center"> 
			  <h1 class="h1-reponsive text-white mb-0 pt-md-5 pt-5 font-thai-bold">{{ title }}</h1>
			  <hr class="hr-light my-4">
			  <h4 class="mb-4 white-text font-thai-regular" data-wow-delay="0.4s">{{ descripion }}</h4>
			  <a href="/selectroom" class="btn btn-outline font-thai-regular"><i class="fas fa-hotel"></i> กรุณาเลือกห้องพัก</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}