{% extends "base/base.html" %}
{% block contents %}
<div class="overlay">
	{% include "base/navbars.html" %}
	<div class="container">
		<div class="row align-items-center justify-content-center" style="height: 80vh;">
			<div class="col-md-12 mb-4"> 
				<div class="card" style="border-radius: 0; background-color: rgba(255,255,255, .85);">
					<div class="card-body">
					  <h4 class="font-thai-bold"><i class="fas fa-info-circle"></i> แจ้งชำระเงินห้อง {{ inforoom.details.roomname }}</h4>
					  <hr>
					  <form id="uploaddata" method="POST" enctype="multipart/form-data">
						  <input type="hidden" name="uuidroom" value="{{ inforoom.bookid }}">
						  <div class="form-group">
							  <label class="font-thai-regular">สลิปใบชำระเงิน</label>
							  <input class="font-thai-light" type="file" id="paymentslip" name="paymentslip" accept="image/*" required>
						  </div>
						  {% if hideidcard == "False" %}
						  <div class="form-group">
							  <label class="font-thai-regular">รูปบัตรประชาชน</label>
							  <input class="font-thai-light" type="file" id="idcard" name="idcard" accept="image/*" required>
						  </div>
						  {% endif %}
						  <div class="alert alert-warning font-thai-regular" role="alert">
							  - หากทำการแจ้งชำระเงินแล้ว ท่านจะไม่สามารถแก้ไขข้อมูลได้ อาทิ สลิปใบชำระเงิน และ รูปบัตรประชาชน ได้ โปรดตรวจสอบก่อนที่จะแจ้งชำระเงินห้อง<br>
							  - สำหรับสมาชิกคนใหม่ โปรดอัพโหลดรูปบัตรประชาชน เพื่อยืนยันในครั้งถัดไป
						  </div>
						  <button type="submit" class="btn btn-success btn-block font-thai-regular"><i class="far fa-money-bill-alt"></i> แจ้งชำระเงิน</button>
					  </form>
					</div>
				  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	<script src="{{ url_for('static',filename='/vendor/app.infopayment.js') }}"></script>
{% endblock %}